{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Victor James | Portfolio</title>
  <link rel="stylesheet" href="{% static 'myApp/styles.css' %}" />
</head>
<body>

<header class="nav">
  <div class="logo">VJ</div>
  <nav>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/projects/">Works</a>
    <a href="/contact/">Contact</a>
  </nav>
</header>

<main class="container">
  <section class="hero">
    <div class="hero-text">
      <h1>Hey, I’m <span class="highlight">Victor James</span></h1>

      <h2 class="role">
        · Software Developer <br>· Problem Solver <br> · Aviation Enthusiast
      </h2>

      
      <div class="hero-actions">
        <a href="/contact/" class="btn primary">Contact Me</a>
        <a href="/projects/" class="btn secondary">View Work</a>
      </div>
    </div>

    <div class="hero-image">
      <img src="{%static 'myApp/images/victor2.jpg' %}" alt="Victor James">
    </div>

    

  </section>
  <div class="hero">
    <p class="subtitle">
        I design and build reliable, user-focused applications with a strong
        emphasis on clean architecture, thoughtful UI, and real-world usability.
    </p> 
    <p class="subtitle">
        From backend systems in Python & Django to modern frontend layouts,
        I enjoy turning complex ideas into simple, effective digital solutions.
    </p>
</div>
</main>

<footer class="footer">
    <ul class="hero-highlights">
        <li> Clean, maintainable code</li>|
        <li> Design-aware development</li>|
        <li> Real-world, scalable projects</li>
    </ul>
  © 2026 Victor James
</footer>

</body>
</html>
